target/

.settings/
.classpath
.project

.idea/
*.iml

.vscode/

logs/

*.log

*.tmp

*.bak

*.keystore

*.jks

*.pfx

*.pem

*.key

*.crt

local.properties

secure.properties

src/main/resources/*.yaml

!src/main/resources/config.yaml

.settings/

.mule/

.DS_Store
